<div id="personal-score"  class="container">
  <div class="display__item">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 0 792 213" style="enable-background:new 0 0 792 213;" xml:space="preserve">
      <rect class="st0" width="232" height="213"/>
      <rect x="232" class="st1" width="560" height="213"/>
      <text transform="matrix(1 0 0 1 61.1781 137.9296)" class="st2 st3 st4">{{ userPlacement }}</text>
      <g>
        <text transform="matrix(1 0 0 1 659.8828 137.9295)" class="st5 st3 st4">{{ userScore }}</text>
      </g>
      <text transform="matrix(0.7 0 0 0.7 307.8544 88.1947)" class="st5 st6 st7 st9">{{ userLname }}</text>
      <text transform="matrix(0.7 0 0 0.7 313.6039 162.1947)" class="st5 st6 st7 st9">{{ userFname }}</text>
    </svg>
  </div>
</div>
