<div id="ambassador-container">

  <form (ngSubmit)="onSubmit()" #messageForm="ngForm">

    <div id="user__name" class="container form__row">
      <label for="user__name"><i class="fa fa-user fa-2x"></i></label>
      <input placeholder="First" type="text" id="fname" name="fname" [(ngModel)]="model.fname" #fnameCtrl="ngModel" required >
      <input placeholder="Last" type="text" id="lname" name="lname" [(ngModel)]="model.lname" required >
    </div>

    <div id="user__email" class="container form__row">
      <label for="user__email"><i class="fa fa-envelope-o fa-2x"></i></label>
      <input placeholder="Email" type="email" id="email" name="email" [(ngModel)]="model.email" required >
    </div>

    <div id="user__score" class="container form__row">
      <label for="user__score"><i class="fa fa-gamepad fa-2x"></i></label>
      <input placeholder="Score" type="number" id="score" name="score" [(ngModel)]="model.score" required >
    </div>


    <button type="submit" name="submitForm">Submit</button>

  </form>

  <div>
      Sending {{ fname | async }}'s score of {{ score | async }}
  </div>

</div>
